<!DOCTYPE html>
<html>

<head>
  <%- include("fragments/head") %>
    <link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
</head>

<body class="default" data-bs-theme="dark">
  <%- include("fragments/navbar") %>
    <%- include("fragments/accesibilidad") %>


      <div class="form-content ">

        <form class="form-edit" method="post" action="/user/editarPerfil">
          <h2 class="form-edit-heading text-center">Editar Perfil</h2>


          <label for="editName">Nombre Completo</label>
          <input type="text" id="editName" name="editName" class="form-control" value="<%= usuario.Nombre %>">
          <div id="name-error"></div>

          <label for="editEmail">Correo Eléctronico</label>
        <input type="email" id="editEmail" name="editEmail" class="form-control" value="<%= usuario.Correo %>" disabled>
        <div id="email-error"></div>

          <label for="editPhone">Número de telefono</label>
          <input type="tel" id="editPhone" name="editPhone" class="form-control" value="<%= usuario.Telefono %>"
            size="12">
          <div id="phone-error"></div>

          <label for="facultad" class="form-label">Facultad</label>
          <select id="facultad" name="facultad" class="form-select" required>
            <% facultades.forEach(facultad=> { %>
              <option>
                <%= facultad.Nombre %>
              </option>
              <% }); %>
          </select>

          <label for="rol" class="form-label">Rol</label>
          <input type="text" id="rol" name="rol" class="form-control" value="<%= usuario.Rol %>" disabled>
          <div id="name-error"></div>

          <div class="text-center mt-3">
            <button id="editButton" class="btn btn-accesibilidad btn-lg" type="submit">
              <i class="fa-solid fa-pen-to-square"></i> Editar</button>
          </div>

        </form>

        <!-- Texto para animar al usuario a registrarse -->
        <div class="text-center mt-3">
          <a class="register-text" href="/user/recover">¿Quieres cambiar la contraseña? pulsa este enlace.</a>
        </div>

        <div id="createdAlert"></div>

      </div>

      <%- include("fragments/footer") %>
        <script src="/javascripts/editarPerfil.js"></script>
</body>

</html>