<!DOCTYPE html>
<html>

<head>
  <%- include("head") %>
</head>

<body class="default" data-bs-theme="dark">
  <header>
    <%- include("navbar") %>
  </header>

    <div class="main-container">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>

      <div class="img-container ">

      </div>

      <h2> Nosotros nos encargamos de organizar los mejores eventos </h2>

      <h3>

        En Innovación Digital, estamos redefiniendo cómo interactúas con la tecnología. Con el lanzamiento de TechBoost,
        te presentamos un dispositivo diseñado para transformar tu vida diaria de una manera más intuitiva, eficiente y
        emocionante.

        TechBoost no es solo otro gadget; es una solución tecnológica avanzada que integra lo último en innovación con
        facilidad de uso, permitiéndote conectarte, crear y controlar tu entorno de forma más inteligente.

      </h3>

    </div>
    <%- include("footer") %>
</body>

</html>