<!DOCTYPE html>
<html>

<head>
  <%- include("fragments/head") %>
</head>

<body class="default" data-bs-theme="dark">
  <header>
    <%- include("fragments/navbar") %>
  </header>
  <%- include("fragments/accesibilidad") %>

    <div class="main-container">
      <h1 class="landing-title">
        <%= title %>
      </h1>

      <h2 class="subtitle">
        En OrgaNice puedes crear, gestionar y unirte a eventos universitarios
      </h2>

      <h3 class="joinText">¿A qué estas esperando? Unete ya</h3>

      <a href="/user">
        <button class="indexButton btn btn-lg btn-accesibilidad ">
           Entrar a OrgaNice </button>
      </a>






     

    </div>
    <%- include("fragments/footer") %>
</body>

</html>