<!DOCTYPE html>
<html>

<head>
  <%- include("head") %>
</head>

<body class="default" data-bs-theme="dark">
  <%- include("navbar") %>

    <div class="main-container">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to <%= title %>
      </p>

      <img src="/images/stock1.webp" alt="foto de nuestros servicios" class="stock_bg">

      <h2> Nosotros nos encargamos de organizar los mejores eventos </h2>

    </div>
    <%- include("footer") %>
</body>

</html>