<!DOCTYPE html>
<html>

<head>
    <%- include("fragments/head") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">
</head>

<body class="<%= theme %> <%= fontSize %>" data-bs-theme="<%= theme === 'default' ? 'dark' : theme %>" data-theme="<%= theme %>" data-font-size="<%= fontSize %>">

    <header>
        <%- include("fragments/navbar") %>
    </header>
    <%- include("fragments/accesibilidad") %>

    <div class="main-container d-flex flex-column align-items-center">

        <% if (user[0].Rol === "asistente") { %>
            <!-- Vista para asistentes -->
            <div class="container">
                <h2 class="text-center mb-4">Tus eventos inscritos</h2>

                <div class="events-container">
                    <div class="row gy-4">
                        <% events.forEach(event => { %>
                            <% if(stateList.has(event.ID)) { %>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <div class="card card-hover h-100 <%= event.Fecha < new Date() ? 'bg-warning text-black' : 'card-content' %>" id="event-<%= event.ID %>">
                                        <div class="card-body">
                                            <h4 class="mb-1"><%= event.Titulo %> <%= event.Fecha < new Date() ? '(TERMINADO)' : '' %></h4>
                                            <p class="mb-2"><strong>Descripción:</strong> <%= event.Descripcion %></p>
                                            <p class="mb-2"><strong>Fecha:</strong> <%= new Date(event.Fecha).toISOString().split('T')[0] %> <strong>Hora:</strong> <%= event.Hora %></p>
                                            <p class="mb-2"><strong>Duración:</strong> <%= event.Duracion %></p>
                                            <p class="mb-2"><strong>Ubicación:</strong> <%= event.facultad %>:<%= event.Ubicacion %></p>
                                            <p class="mb-1"><strong>Capacidad:</strong> <%= event.Capacidad_Actual %> / <%= event.Capacidad_Maxima %> personas</p>
                                            <p class="mb-2"><strong>Tipo de Evento:</strong> <%= event.tipo %></p>
                
                                            <% if(event.Fecha > new Date()) { %>
                                                <p class="mb-3"><strong>Estado de la inscripción:</strong> 
                                                    <% if(stateList.has(event.ID)) { %>
                                                        <%= stateList.get(event.ID) %>
                                                        <button class="btn btn-danger btn-sm" data-bs-target="#leaveEventModal<%= event.ID %>" id="leaveEvent<%= event.ID %>" data-bs-toggle="modal">Desinscribirse</button>
                                                    <% } else { %>
                                                        No inscrito
                                                        <button class="btn btn-success btn-sm" data-bs-target="#joinEventModal<%= event.ID %>" id="joinEvent<%= event.ID %>" data-bs-toggle="modal">Inscribirse</button>
                                                    <% } %>
                                                </p>
                                            <% } else if(stateList.has(event.ID)) { %>
                                                <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#commentEventModal<%= event.ID %>">Deja un comentario</button>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
                
            </div>
        <% } else if (user[0].Rol === "organizador") { %>
            <h2 class="text-center mb-2">Resumen de tu actividad en OrgaNice</h2>
            <div class="d-flex">
                <div>
                    <h2 class="text-center mb-2">Lista de tus Eventos</h2>
                    <ul class="list-group" id="eventList">
                        <% events.forEach(event => { %>
                            <li class="list-group-item border rounded shadow-sm mb-3 p-3 small" id="event-<%= event.ID %>">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="mb-1 fw-bold text-truncate"><%= event.Titulo %></h6>
                                    <% if(event.Fecha < new Date()) { %>
                                        <span class="badge bg-warning text-black">TERMINADO</span>
                                    <% } %>
                                </div>
                                <small class="text-muted d-block">Fecha: <%= new Date(event.Fecha).toISOString().split('T')[0] %></small>
                                <small class="text-muted">Capacidad: <%= event.Capacidad_Actual %> / <%= event.Capacidad_Maxima %></small>
                                <div class="mt-3 text-end">
                                    <a class="btn btn-outline-info btn-sm" href="/viewEvents/showDetails/<%= event.ID %>">Ver detalles</a>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            
                <!-- Panel de estadísticas -->
                <div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-center">Estadísticas Generales</h5>
                            <hr>
                            <p class="card-text"><i class="bi bi-graph-up me-2"></i><strong>Nota media:</strong> <%= extras[3] %></p>
                            <p class="card-text"><i class="bi bi-people me-2"></i><strong>Total participantes:</strong> <%= extras[1] %></p>
                            <p class="card-text"><i class="bi bi-list-task me-2"></i><strong>Vacantes ofertadas:</strong> <%= extras[2] %></p>
                            <p class="card-text"><i class="bi bi-calendar2-event me-2"></i><strong>Eventos ofertados:</strong> <%= extras[0] %></p>
                        </div>
                    </div>
                </div>
            </div>
            
        <% } %>
    </div>

    
    <%- include("fragments/eventModals")%>
    <%- include("fragments/footer") %>
    <script src="/javascripts/events.js"></script>
    <script src="/javascripts/notificationes.js"></script>
      <script src="/javascripts/coments.js"></script>

</body>

</html>
