<!DOCTYPE html>
<html>

<head>
    <%- include("fragments/head") %>
</head>

<body class="<%= theme %> <%= fontSize %>" data-bs-theme="<%= theme === 'default' ? 'dark' : theme %>"  data-theme="<%= theme %>" data-font-size="<%= fontSize %>">

<!-- <body class="default" data-bs-theme="dark"> -->
    <header>
        <%- include("fragments/navbar") %>
    </header>
    <%- include("fragments/accesibilidad") %>

    <div class="main-container">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome back <%= title %>
        </p>
        
    </div>
    <%- include("fragments/footer") %>
    <script src="/javascripts/notificationes.js"></script>
</body>

</html>